body { 
  margin: 0px; 
   
  font-family: aller,sans-serif;
font-weight: 400;
font-style: normal;
  
}

/* both maps are full screen. */
#storyMap, #pickerMap {
  height: 100%;
  width: 100vw;
}

/* Hidden by default. Toggled via buttons */
section#create{
  display: none;
}


.overlay{
  position: absolute;
  width:100%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 43%);
  z-index:1;
  display: flex;
  margin: 0;
}


/* navigation bar */
#navigation{
  top:0px;
}

#navigation #logo{
  display:block;
  margin:0 auto 0 0;
  width: 200px;
  padding: 20px;
}
#navigation #logo img{
  width: 100%;
}

#navigation button{
  background: none;
  border: none;
  cursor: pointer;
}
#navigation button svg{
  width: 3rem;
  fill: #231F20;
}
#navigation button:hover svg{ 
  fill: #F9A11B;
}


/* Form to add new stories. */
#createForm{ 
  background: #F9A11BDD;
  bottom: 0px;
}
#createForm form{
  padding: 1rem;
  display: flex; 
  margin: 0; 
}
#createForm .speechBubble {
  width: 2em; 
  overflow: hidden;
}
#createForm  .speechBubble .tail{
 position: relative;
  background: white;
  width: 4rem;
  height: 4rem;
  transform: rotate(-45deg);
  top: calc(50% - 2rem);
  left: 1rem;
}
#createForm textarea{ 
  box-sizing: border-box;
  padding: 1em;
  border: 0; 
  font-family: aller,sans-serif;
  font-weight: 400;  
  font-style: normal;
  font-size: 1.5em;
  resize: none;
  width: 80%;
  border-radius: 1rem;
}
#createForm #submitArea{
  flex-grow:1 ;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

#createForm #submitArea label{
  color: #985b00;
  font-size: 1rem;
  margin-bottom: auto;
  max-width: 10em;
}

#createForm #submitArea #submitButton{  
  cursor: pointer;
  border-radius: 10px;
   font-family: aller-display,sans-serif;
font-weight: 400;
font-style: normal;
  font-size:1rem;
  letter-spacing: 0.25em;
  color: #fff;
  background: #000;
  border: none; 
  padding: 0 1em;
  height: 4em;  
}
 
/* refresh Button */
#refreshButton{ 
  position: absolute;
  bottom: 0;
  left: 50%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 73%);
  border: none;
  display: none;
} 

#refreshButton svg{
  width: 3rem;
  fill: #13be3e;
}
#refreshButton:hover svg{ 
  fill: #F9A11B;
} 

/* Google Maps Infowindow CSS */ 
/* Increase font size in infowindows */
.gm-style-iw-d {
  font-size: 1.2rem;
}

/* Make the infowindow close button a little bigger */
.gm-style-iw-c button {
  transform: scale(1.5); 
  top: 0 !important;
  right: 0 !important;
}

 